.frame{
  background-color: #FFFFFF;
  margin: 0 auto;
  width: 1165px;
  border: 1px solid #707070;
  border-radius: 1.5rem;
  
  margin-top: 1rem;
  margin-left: 23rem;
  margin-right: 23rem;
  
  padding-bottom: 2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  .title {
    margin-top: 20px;
    font-weight: bold;
  }
  .chart {
    margin-top: 20px;
  }
}