.header {
  background: #ffffff;
  color: #707070;
  font-family: '맑은 고딕', 'Malgun Gothic', sans-serif;
  text-align: center;

  .header-content {
    height: 4.7rem;
    // width: 1765px;
    margin: 0 auto;  // 가운데 정렬
    padding-top: 0.5rem;
    padding-left: 5rem;
    padding-right: 5rem;

    // 내부 아이템 가운데 정렬
    display: flex;
    align-items: center;

    .brand {

    }

    .menu {
      margin: 0 auto;
      margin-top: 0.7rem;
    }
    
    .auth {
      
    }
  }

  .line {
    border: 0;
    width: 100%;
    background-color: #2C3F77;
    height: 1.5px;
    margin: 0;
  }
}