.notice {
  border: 1px solid #707070;
  background-color: white;
  margin: 0 auto;
  width: 50rem;
  padding: 1.5rem;
  .title {
    font-weight: bold;
    color: #2C3F77;
    text-align: center;
    font-size: larger;
  }
  .text {

  }
  .footer {
    color: #2C3F77;
    text-align: right;
  }
}