.activity {
  margin: 0 auto;
  width: 69rem;
  .activity-title {
    margin-bottom: 0.5rem;
  }
  .activity-item {
    margin: 0 auto;
    width: 67rem;
    border: 1px solid #707070;
    border-radius: 0.5rem;
    padding: 1rem;
    background-color: white;
    margin-bottom: 0.5rem;
    .activity-item-detail { 
      display: inline-block;
      width: 56rem;
      margin-right: 2rem;
      .activity-item-link-wrapper {
        display: inline-block;
        .activity-item-link {
          text-decoration: none;
          color: #2C3F77;
          font-weight: bold;
        }
      }
    }
    .activity-item-date {
      display: inline-block;
      width: 9rem;
    }
  }
  
}