.join-form {
  color: #707070;
  margin: 0 auto;
  width: 15.6;
  padding-left: 2rem;
  padding-right: 2rem;
  .notice {
    width: 29rem;
    font-size: 1.2rem;
    text-align: center;
  }
  .nick-title {
    margin-top: 2rem;
  }
  .nick-form {
    margin-top: 0.5rem;
  }
  .age-title {
    margin-top: 1rem;
  }
  .age-form {
    margin-top: 0.5rem;
  }
  .sex-title {
    margin-top: 1rem;
  }
  .sex-form {
    margin-top: 0.5rem;
  }
  .error {
    color: red;
  }
  .button {
    border: 1px solid #2C3F77;
    margin-top: 1.5rem;
  }
}