.join-form {
  color: #707070;
  margin: 0 auto;
  width: 15.6;
  padding-left: 2rem;
  padding-right: 2rem;
  .notice {
    width: 29rem;
    font-size: 1.2rem;
    text-align: center;
  }
  // .join-form-title { }
  .join-form-blank {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    width: 31rem;
    height: 1.6rem;
    &.radio {
      margin: 0;
      
    }
  }
  .error {
    color: red;
  }
  .button {
    border: 1px solid #2C3F77;
    margin: 0 auto;
    padding: 0.5rem;
    border-radius: 0.5rem;
    width: 20rem;
    color: #2C3F77;
    font-weight: bold;
    text-align: center;
    display: block;
  }
}