.content-list {
  background: #FFFFFF;
  border: 1px solid #707070;
  border-radius: 1.5rem;
  margin: 0 auto;
  width: 67rem;
  margin-top: 1rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  // display: flex;
  // flex-direction: column;
  color: #707070;
  .row {
    .row-1 {
      font-size: 0.9rem;
    }
    .row-2 {
      font-size: 0.9rem;
      float: right;
    }
    .row-hr {
      margin-top: 0; 
      margin-bottom: 1rem;
      border-bottom: 0;
    }
  }
  .content-item-wrapper {
    .content-item {
      margin-bottom: 1rem;
      .title {
        font-weight: bold;
        &.to {
          text-decoration: none;
          color: #2C3F77;
        }
      }
      .en-title {
        font-size: 0.9rem;
      }
      .number {
        float: right;
        position: relative;
        top: -1.2rem;
        &.to {
          top: 0;
          margin-top: 0.4rem;
        }
      }
    }
    .hr {
      margin-top: 0;
      margin-bottom: 1rem;
      border-bottom: 0;
    }
  }
}