.mini-menu {
  border: 1px solid #707070;
  border-radius: 1rem;
  background: white;
  padding-top: 0.4rem;
  width: 29rem;
  margin: 0 auto;
  text-align: center;
  .button {
    display: inline-block;
    margin-top: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    cursor: pointer;
    user-select: none;
    text-decoration: none;
    color: #707070;
    &.clicked {
      border-bottom: 0.4rem solid #2C3F77;
      color: #2C3F77;
      font-weight: bold;
    }
  }
}