.gray-background {
  background: rgba(100,100,100,0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
}
.modal-wrapper {
  position: fixed;
  top: 25%;
  left: 25%;
  z-index: 10;
  background: white;
  border: 1px solid #2C3F77;
  border-radius: 1.5rem;
  padding: 2rem;
  width: 60rem;
}