.writer {
  background: #FFFFFF;
  border: 1px solid #707070;
  padding-right: 2rem;
  padding-left: 2rem;
  padding-top: 1.5rem;
  margin-left: 23rem;
  margin-right: 23rem;
  &.post-writer {
    border-radius: 1.5rem;
    padding-bottom: 4rem;
    .input {
      width: 44.25rem;
      height: 5rem;
      outline-style: none;
      font-family: '맑은 고딕', 'Malgun Gothic', sans-serif;
    }
    .button {
      float: right;
      margin-top: 1rem;
    }
  }
  &.comment-writer {
    border-top-color: transparent;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    padding-bottom: 1.5rem;
    .input {
      width: 38rem;
      height: 1.6rem;
      outline-style: none;
      font-family: '맑은 고딕', 'Malgun Gothic', sans-serif;
    }
    .button {
      float: right;
    }
  }
}