.newspeed {
  .activity-item {
    margin: 0 auto;
    width: 50rem;
    border: 1px solid #707070;
    padding: 1rem;
    background-color: white;
    margin-bottom: 2rem;
    .activity-item-detail { 
      display: inline-block;
      width: 39rem;
      margin-right: 2rem;
      .activity-item-link-wrapper {
        display: inline-block;
        .activity-item-link {
          text-decoration: none;
          color: #2C3F77;
          font-weight: bold;
        }
      }
    }
    .activity-item-date {
      display: inline-block;
      width: 9rem;
    }
  }
  .post-item {
    margin: 0 auto;
    width: 50rem;
    border: 1px solid #707070;
    padding: 1rem;
    background-color: white;
    .post-item-link {
      display: inline-block;
      text-decoration: none;
      color: #2C3F77;
      font-weight: bold;
      width: 39rem;
      margin-right: 2rem;
    }
    .post-item-date {
      display: inline-block;
    }
    .post-item-body {
      white-space: pre-line;
      margin-bottom: 2rem;
    }
    .post-comment-list {
      .post-comment-item {
        margin-top: 1rem;
        margin-bottom: 1rem;
        .post-comment-item-link {
          display: inline-block;
          text-decoration: none;
          color: #2C3F77;
          font-weight: bold;
          width: 39rem;
          margin-right: 2rem;
        }
        .post-comment-item-date {
          display: inline-block;
        }
        .post-comment-item-body {
          white-space: pre-line;
          margin-top: 0.5rem;
        }
      } 
    }
  }
  .newspeed-is-last {
    margin: 0 auto;
    width: 17rem;
  }
}