.profile-card {
  border: 1px solid #707070;
  border-radius: 1.5rem;
  background: white;
  padding: 2rem;
  margin: 2rem auto;
  width: 65rem;
  &.updatable {
    padding-bottom: 4rem;
  }
  .nick {
    font-size: 1.2rem;
    font-weight: bold;
    color: #2C3F77;
  }
  .age-and-sex {
    margin-left: 1rem;
  }
  .introduction {
    margin-top: 1.5rem;
  }
  .button {
    float: right;
    margin-top: 1rem;
  }
}