.login-wrapper {
  .logo {
    margin-top: 4rem;
    margin-left: 52rem;
  }
  .border {
    border: 1px solid #2C3F77;
    border-radius: 1.5rem;
    margin-top: 1rem;
    margin-left: 40rem;
    margin-right: 40rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
  }
}