.content-title {
  margin-left: 23rem;
  margin-right: 23rem;
  .nameKr {
    font-weight: bold;
    font-size: 1.2rem;
  }
  .nameEn {
    font-size: 1.1rem;
    &.bracket {
      color: #FAFAFA;
    }
  }
  .button {
    float: right;
    margin-top: 0.5rem;
  }
}