.form {
  .close {
    font-size: 2rem;
    position: absolute;
    right: 1rem;
    top: 0.5rem;
    cursor: pointer;
    &:hover {
      color: #2C3F77;
    }
  }
  .question {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
  }
  .tips {
    width: 500px;
    height: 80px;
  }
  .error {
    margin-bottom: 1rem;
    color: red;
  }
}